copulas==0.12.2
colorama==0.4.6
dask==2023.10.0
dict2xml==1.7.6
fiona==1.9.4
matplotlib==3.10.1
osmnx==2.0.3
pacmap==0.6.2
scikit-mobility==1.2.2
scikit-optimize==0.10.2
seaborn==0.13.2
shapely==2.1.0
termcolor==2.3.0
torch==2.7.0
torch-geometric==2.6.1
torchinfo==1.8.0
torchmetrics==1.7.1
torchsummary==1.5.1
torchviz==0.0.3
tqdm==4.67.1
umap-learn==0.5.7
xmltodict==0.14.2